{% extends 'base.html' %}

{% block content %}

<style>
    .disabled {
        pointer-events: none;
        opacity: 0.5;
    }
</style>
<script>
    let selectedDrink = null;
    let drinkPrice = 0;
    let amountPaid = 0;
    let isProcessingOrder = false;

    document.addEventListener('DOMContentLoaded', () => {
        checkDrinkAvailability();
        document.querySelectorAll('.coin-button').forEach(button => {
            button.addEventListener('click', () => {
                if (selectedDrink) {
                    const coinValue = parseFloat(button.dataset.coinvalue);
                    amountPaid += coinValue;
                    updateDisplay();
                } else {
                    displayMessage('Please select a drink first.');
                    setTimeout(() => {
                        resetDisplay();
                    }, 2000);
                }
            });
        });

        const goButton = document.querySelector('.go-button');
        if (goButton) {
            goButton.addEventListener('click', () => {
                if (!isProcessingOrder) {
                    if ("{{ current_state }}" === "in_operation") {
                        processOrder();
                    } else if ("{{ current_state }}" === "in_maintenance") {
                        initializeMachine();
                    }
                }
            });
        }
    });

    function orderDrink(button, drink) {
        drinkPrice = parseFloat(button.dataset.drinkPrice);
        if (isNaN(drinkPrice)) {
            console.error("Drink price not found or invalid for:", drink);
            return;
        }

        selectedDrink = drink;
        amountPaid = 0;
        displayMessage(`You have selected ${drink.charAt(0).toUpperCase() + drink.slice(1)}`);
        setTimeout(() => {
            updateDisplay();
        }, 2000);
    }

    function displayMessage(message) {
        const ledDisplay = document.getElementById('ledDisplay');
        ledDisplay.textContent = message;
    }

    function updateDisplay() {
        if (selectedDrink) {
            displayMessage(`${selectedDrink.charAt(0).toUpperCase() + selectedDrink.slice(1)}/${drinkPrice.toFixed(2)} <= ${amountPaid.toFixed(2)}`);
        }
    }

    function playSound(soundFile) {
        const audio = new Audio(soundFile);
        audio.play();
    }

    function processOrder() {
        if (selectedDrink) {
            if (amountPaid >= drinkPrice) {
                const change = (amountPaid - drinkPrice).toFixed(2);
                displayMessage(`${selectedDrink.charAt(0).toUpperCase() + selectedDrink.slice(1)} Making - Change: $${change}`);

                isProcessingOrder = true;
                document.querySelector('.go-button').classList.add('disabled');

                fetch('/make_drink', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ drink: selectedDrink })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        playSound('/static/sounds/coffee-grinding-sound.mp3');

                        setTimeout(() => {
                            displayMessage(`${selectedDrink.charAt(0).toUpperCase() + selectedDrink.slice(1)} ready: Enjoy!`);

                            setTimeout(() => {
                                resetDisplay();
                                checkDrinkAvailability();
                            }, 5000);

                        }, 3000);
                    } else {
                        displayMessage(`Order cancelled: ${data.message}`);
                        setTimeout(() => {
                            resetDisplay();
                        }, 3000);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    displayMessage('Order cancelled: Internal error');
                    setTimeout(() => {
                        resetDisplay();
                    }, 3000);
                });
            } else {
                displayMessage(`Order cancelled: $${amountPaid} < $${drinkPrice}`);
                setTimeout(() => {
                    resetDisplay();
                }, 3000);
            }
        } else {
            displayMessage('Please select a drink first.');
        }
    }

    function resetDisplay() {
        displayMessage('Welcome to ITD2 Drinks Dispenser');
        selectedDrink = null;
        drinkPrice = 0;
        amountPaid = 0;
        isProcessingOrder = false;
        document.querySelector('.go-button').classList.remove('disabled');
    }

    function checkDrinkAvailability() {
        fetch('/check_drink_availability')
        .then(response => response.json())
        .then(data => {
            if (data.current_state === "in_maintenance" || data.available_drinks.length === 0) {
                displayMessage("No drinks - Maintenance required");
                document.querySelectorAll('.drink-button').forEach(button => {
                    button.classList.add('disabled');
                });
                isProcessingOrder = false;
                document.querySelector('.go-button').classList.remove('disabled'); // Ensure the Go button is enabled for maintenance
            } else {
                document.querySelectorAll('.drink-button').forEach(button => {
                    const drink = button.getAttribute('onclick').match(/orderDrink\(this, '(\w+)'\)/)[1];
                    if (!data.available_drinks.includes(drink)) {
                        button.classList.add('disabled');
                    } else {
                        button.classList.remove('disabled');
                    }
                });
                isProcessingOrder = false;
                document.querySelector('.go-button').classList.remove('disabled');
            }
        })
        .catch(error => {
            console.error('Error checking drink availability:', error);
        });
    }

    function initializeMachine() {
        displayMessage('Reinitializing...');
        fetch('/admin/refill')
        .then(response => {
            if (response.ok) {
                setTimeout(() => {
                    resetDisplay();
                    checkDrinkAvailability();
                }, 2000);
            } else {
                displayMessage('Failed to reinitialize');
                setTimeout(() => {
                    resetDisplay();
                }, 2000);
            }
        })
        .catch(error => {
            console.error('Error reinitializing machine:', error);
            displayMessage('Failed to reinitialize');
            setTimeout(() => {
                resetDisplay();
            }, 2000);
        });
    }
</script>

<div class="container">
    <div class="vending-panel">
        <img src="{{ url_for('static', filename='images/coffee-drinks-dispenser_v2.jpg') }}" alt="drinks dispenser">
    </div>

    <div class="button-column">
        {% for drink, details in menu.items() %}
            <button class="drink-button" data-drink="{{ drink }}" data-drink-price="{{ drink_price[drink] }}" onclick="orderDrink(this, '{{ drink }}')">
                <div class="drink-button-content">
                    <img class="drink-icon" src="{{ url_for('static', filename='images/icon-' + drink + '.png') }}" alt="{{ drink }}">
                    <span class="button-text">&nbsp{{ drink.capitalize() }}</span>
                </div>
            </button>
        {% endfor %}
    </div>

    <div class="coin-dispenser-container">
        <div class="led-display" id="ledDisplay">Welcome to ITD2 Drinks Dispenser</div>
        <div class="coin-dispenser-inner">
            <button class="go-button" onclick="processOrder()">Go!</button>
            <img src="{{ url_for('static', filename='images/coin-dispenser_variant-horizontal-v1.jpg') }}" alt="coin dispenser">
        </div>
        <div class="coin-buttons">
            {% for coin, value in coin_values.items() %}
                <button class="coin-button" data-coinvalue="{{ value }}">
                    <img src="{{ url_for('static', filename='images/uscoin-' + coin.lower() + '.png') }}" alt="{{ coin }}">
                    <span class="coin-text">{{ coin }}</span>
                </button>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
