{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Order {{ drink }}</h1>
        <form method="post">
            <p>Price: ${{ price }}</p>
            <p>Insert coins:</p>
            <ul>
                {% for coin, value in coin_values.items() %}
                    <li>
                        <label>{{ coin }}</label>
                        <input type="number" name="{{ coin }}" value="0" min="0">
                    </li>
                {% endfor %}
            </ul>
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}
